.card {
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 1.5rem;

  & h3 {
    margin-top: 1rem;
  }
}

[data-feature-card],
[data-pricing-section] header > strong,
[data-pricing-section] header > h2,
[data-pricing-section] .cards > .card,
[data-pricing-section] .premium {
  transform-origin: center bottom;
  will-change: transform, opacity;
}
